@import "tailwindcss";

body {
  background-color: #ffffff;
  color: #424242;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: 3px;
}


::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 7px;
}

img {
  -webkit-user-drag: none; /* Safari y Chrome */
  -khtml-user-drag: none;
  -moz-user-drag: none;    /* Firefox (versiones antiguas) */
  -o-user-drag: none;      /* Opera */
  user-drag: none;
}

